/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}



#menu,#conteudo{
    /*border: 1px solid black;*/
    height:  100vh;
    float: left;
}
#menu{
    background-color:#181F2C ; /*#1C4E80; #30362F*/
    width: 20%;
}
#conteudo{
    background-color: #E8E8E8; /*#F1F1F1;*/
    width: 80%;
    padding: 10px;
    overflow: auto;

}


ul li{
    display: block;
    /*border: 1px solid black;*/
}

ul li a{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    /*border: 1px solid black;*/
    text-decoration: none;
    color: white; /* #FFFBDB*/
    font-weight: bold;
}

ul li a:hover{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    /*border: 1px solid white;*/
    background-color: #232D3F;
}

#foto-perfil
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 15px auto 0 auto;
    background-color: white;
    text-align: center;
}

#cont{
    width: 100%;
    /*border: 1px solid black;*/
}
#nomeUsuario{
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0px;
}
.exemplo{
   /* border: 1px solid black;*/
    height: 100%;
    border: 1px solid #E8E8E8;
}

#logo-sistema{
    color: white;
    /*border: 1px solid white;*/
    padding: 10px;

}
input,select{
    font-size: 16px;    
}
label
{
    font-weight: bold;
}